<h1>Car Simulator</h1>

Congrats! <%=@car.car_info%>

<br></br>




<form action="/simulator/lights_do">
  <input type="radio" name="lights" value="Lights On"<%= @car.lights ? "checked" : ""%>> Lights On<br></br>
  <input type="radio" name="lights" value="Lights Off" <%= @car.lights ? "" : "checked"%> > Lights Off<br>
  <input type="submit" value="Submit"/>
</form>




<form action="/simulator/accelerate">
  <input type="submit" value="Accelerate"/>
</form>

<form action="/simulator/decelerate">
  <input type="submit" value="Brake"/>
</form>


<%=@car.speed%>
