
<h1>Car Challenge</h1>
<p>Live Your Dreams</p>

<form action="/car/new_car" method="get">

  <label for="make"> Car Make: </label>
  <input id="make" type="text" name="make"/>
  </br></br>
  <label for="model_year"> Model Year: </label>
  <input id="model_year" type="number" name="model_year"/>

  </br></br>
  <button id="button" type="submit" value="Generate Your Dream Car">Generate Your Dream Car</button>

</form>
